/* ********** Custom Properties ********** */
:root {
    --first-color: rgb(230, 50, 40);
    --first-modal-color: rgba(240, 55, 55, .75);
    --second-color: rgb(243, 239, 210);
    --second-modal-color: rgba(250, 250, 210, 0.75);
    --third-color: rgb(20, 110, 170);
    --third-modal-color: rgba(65, 140, 201, 0.75);
    --fourth-color: rgb(240, 200, 0);
    --fourth-modal-color: rgba(232, 206, 93, .75);
    --fifth-color: rgb(255, 255, 255);
    --fifth-modal-color: rgba(255, 245, 245, .75);
    --link-color: rgb(80, 158, 227);
    --sixth-modal-color: rgba(0, 0,0,);
    --sixth-color: rgb(5, 5, 5,.75);
    --seventh-color: rgb(0,29,64);
    --seventh-modal-color: rgba(0, 0,0,); 
  
   
  
  
    --navbar-height: 64px;
  }
  
  /* ********** Reset Styles ********** */
  body {
    font-family: 'Mallanna', sans-serif;
  }
  
  a {
    color: var( --fifth-color);
    transition: all .3s ease-out;
  }
  
  a:hover { color: var(--first-color); }
  
  /* ********** Bootstrap Styles ********** */
  .bg-dark { background-color: var( --seventh-color) !important; }
  
  .navbar-brand img {
    width: auto;
    height: var(--navbar-height);
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    transition: all .3s ease;
  }
  
  .navbar-dark .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(217, 0, 98, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar-toggler { border: 0; }
  
  .navbar-toggler:hover,
  .navbar-toggler:focus { outline: 0; }

  .nav-item:hover {
    background-color: var( --seventh-color);
    transition: all .3s ease;
  }
  
  .nav-link {
    color: var( --fifth-color) !important;
    font-size: 1.5 rem;
    font-weight: bold;
    transition: all .3s ease;
  }
  
  .nav-link:hover { color:var( --fourth-color) !important; }
  
  .dropdown-menu {
    background-color: var( --seventh-color);
    border-color: var(--first-modal-color);
  }
  
  .dropdown-item,
  .dropdown-item:hover {
    font-weight: bold;
    color: var( --fifth-color);
  }

  .herbert {
    background-color: var(--third-color);
  }

  .lilly {
    background-color: var(--first-color);
  }

  .museo {
    background-color: var(--fourth-color);
  }

 



  

  

  
  
  
  /* ********** My Styles ********** */
  .font-120 { font-size: 120%; }
  
  .font-150 { font-size: 150%; }
  
  /* ********** Media Queries Small ********** */
  @media (min-width: 576px) {
  
  }
  
  /* ********** Media Queries Medium ********** */
  @media (min-width: 768px) {
  
  }
  
  /* ********** Media Queries Large ********** */
  @media (min-width: 992px) {
  
  }
  
  /* ********** Media Queries ExtraLarge ********** */
  @media (min-width: 1200px) {
  
  }
